.idea/
#залежності не тягнемо за собою амінь
/node_modules
#те саме стосується і зібраного проєкту амінь
/dist
#рези запуску 'vite preview'
#це тека де зберіг кешовані залежності у режимі розробки
.vite
#логи npm
npm-debug.log*